@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  /* Had to add "import background from "../assets/img/space.jpg";" to the main.js so it could work here */
  background-image: url("./assets/img/stars.png");
  margin: 0;
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: center; /* Center the background image */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

#astronaut {
  position: absolute; /* Change to absolute positioning */
  top: 45%; /* Position at the vertical center of the header */
  right: 50%; /* Adjust the right position as needed */
  transform: translate(0%, -50%); /* Center vertically */
  width: 100px;
  height: 100px;
  z-index: 100;
}
.text {
  color: #fff;
  padding: 2em;
}

.text h1 {
  font-size: 2.5em;
  line-height: 50px;
}

.text p {
  color: #e4e4e4;
  max-width: 400px;
  margin: 1em 0;
  line-height: 27px;
}

@media screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
  }
  .text {
    text-align: center;
    order: 1;
  }
  .canvas-container {
    order: 2;
  }
  .text p {
    margin: 1em auto;
  }
}
@media screen and (max-width: 800px) {
  .text h1 {
    font-size: 3, 4em;
  }
  .text p {
    font-size: 3, 4em;
  }
}
