@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  height: 100%;
  /* Had to add "import background from "../assets/img/space.jpg";" to the main.js so it could work here */
  background-image: url("./assets/img/stars.png");

  margin: 0;
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: center; /* Center the background image */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 600;
}

.nav-link {
  font-size: large;
  color: white;
}

header {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

#astronaut {
  position: absolute;
  top: 5%; /* Position at the vertical center of the header */
  right: 5%; /* Adjust the right position as needed */
  transform: translate(0%, -50%); /* Center vertically */
  width: 100px;
  height: 100px;
  z-index: 100;
  cursor: pointer;
  opacity: 0.6;
}

#astronaut:hover {
  opacity: 1;
}

#rocket {
  position: absolute;
  top: 90%; /* Position at the vertical center of the header */
  right: 92%; /* Adjust the right position as needed */
  transform: translate(0%, -50%); /* Center vertically */
  width: 100px;
  height: 200px;
  z-index: 100;
  cursor: pointer;
}

.custom-tooltip {
  border-radius: 50px;
}

.custom-tooltip strong {
  font-weight: bold;
  color: #c1ffb3; /* Custom color for the strong text */
}

.picture-of-the-day.card {
  position: absolute;
  z-index: 2;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: inherit;
  border-radius: 30px 30px 30px 30px;
}

.picture-of-the-day.card > div {
  background: white;
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
}

.picture-of-the-day.card > a > img {
  border-radius: 30px 30px 0 0;
}

.picture-of-the-day a {
  color: inherit;
}

.picture-of-the-day a:hover {
  color: darkgrey;
}

.picture-of-the-day.card > button {
  background: none;
  color: white;
  font-weight: 500;
  border-radius: 30px;
  font-size: 15px;
}
.picture-of-the-day.card > button:hover {
  text-decoration: none;
  background: white;
  color: black;
  border-color: transparent;
}

/* BUTTONS */
/* buttons on Home page */
.spacebutton {
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 12px 24px;
  font-weight: 600;
}

.spacebutton:hover {
  background-color: #c1ffb3;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  font-weight: 550;
  transform: translateY(-7px);
}

/* buttons on Next 5 Rocket Launches */
.rocketButton {
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.rocketButton:hover {
  box-shadow: 0px 8px 15px rgba(58, 75, 68, 0.4);
  color: black;
  font-weight: 550;
  transform: translateX(7px);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.text {
  color: #fff;
  padding: 2em;
}

.text span {
  display: inline-block;
  font-size: 3em;
  line-height: 50px;
  letter-spacing: 6px;
  font-weight: 500;
  cursor: crosshair;
}

.text p {
  color: #d7fece;
  max-width: 600px;
  margin: 1em 0;
  line-height: 27px;
  font-weight: 700;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000;
}

@media screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
  }
  .text {
    text-align: center;
    order: 1;
  }
  .canvas-container {
    order: 2;
  }
  .text p {
    margin: 1em auto;
  }
  .text h1 {
    font-size: 3, 4em;
  }
  .text p {
    font-size: 3, 4em;
  }

  #astronaut {
    top: 30%; /* Position at the vertical center of the header */
    right: 5%; /* Adjust the right position as needed */
  }
  #rocket {
    top: 90%; /* Position at the vertical center of the header */
    right: 85%; /* Adjust the right position as needed */
    transform: translate(0%, -50%); /* Center vertically */
  }
}

@media screen and (max-width: 600px) {
  .text {
    text-align: center;
    order: 1;
  }
  .canvas-container {
    order: 2;
  }
  .text p {
    margin: 1em auto;
  }
  .text h1 {
    font-size: 3, 4em;
  }
  .text p {
    font-size: 3, 4em;
  }

  #astronaut {
    top: 40%; /* Position at the vertical center of the header */
    right: 5%; /* Adjust the right position as needed */
  }
  #rocket {
    top: 90%; /* Position at the vertical center of the header */
    right: 85%; /* Adjust the right position as needed */
    transform: translate(0%, -50%); /* Center vertically */
  }
  .picture-of-the-day.card {
    width: 300px !important;
  }

  .picture-of-the-day.card > a > img {
    width: 300px !important;
  }

  span {
    padding: 2px;
  }
}

.footer {
  bottom: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex !important;
  justify-content: center;
  width: 100%;
  line-height: 10px;
}
.icons {
  align-items: center;
}
.footer a {
  color: white;
  font-size: 30px;
  padding: 10px;
  /* border-right: 1px solid white; */
  transition: all 0.5s ease;
}

/* .footer a:first-child {
  border-left: 1px solid white;
} */
.footer a:hover {
  color: white;
}

.bi--twitter-x {
  display: inline-block;
  width: 15px;
  height: 15px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07l-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
